<div class="container">
  <h1 class="text-center">Burgers!</h1>
  <div class="row">
    <div class="col">
      <h2>New Burgers!</h2>
    </div>
    <div class="col">
      <h2>Burgers eated!</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{!-- {{name}} --}}
        {{> burgers/burger-block}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col">
      <ul class="list-group">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <h2>Add a Burger</h2>
  <div class="row text-center">
    <form id="create-form">
      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger">
      </div>
      <button type="submit">Add Burger</button>
    </form>
  </div>
</div>